.DS_Store
.dotnet/
.idea/
.vscode/
**/bin/
**/obj/
**/node_modules/
**/dist/
**/*.tsbuildinfo
src/crems-web/vite.config.js
src/crems-web/vite.config.d.ts
**/.env
src/CREMS.Api/App_Data/customer-documents/
*.user
*.suo
